<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tuition Organizer</title>
    {% load static %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'tuition/css/style.css' %}">
    <script src="{% static 'tuition/js/script.js' %}"></script>
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">Tuition Organizer</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span> </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/employee_application">Employee's application<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/employer_account">Account Settings</a>
                    </li>
                </ul>
                <div id="menu" class="mt-2 mt-md-0">
                    <a class="item mr-sm-2" href="/register_page">Sign Up</a>

                    <a class="item mr-sm-2" href="/contact">Contact Us</a>

                    <a class="item my-2 my-sm-0" href="/logout">Log out</a>
                </div>
            </div>
        </nav>
    </header>

    <main role="main">

        <div class="jumbotron">
            <div class="container">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">All Applications</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="mt-2"></div>
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Action</th>
                                    <th scope="col">#</th>
                                    <th scope="col">Details</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Amount Requested</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for application in all_applications %}
                                <tr>
                                    <td>
                                        {% if application.is_pending == True %}
                                        <a href="/review_application/{{application.id}}">Review</a> {% endif %}
                                    </td>
                                    <td>{{application.id}}</td>
                                    <td>{{application.course_name}} - {{application.institution}}</td>
                                    <td>
                                        {% if application.is_pending == True and application.add_info_required == False %}
                                        <span class="badge badge-primary text-wrap">Pending</span> {% elif application.is_pending == True and application.add_info_required == True %}
                                        <span class="badge badge-warning text-wrap">Awaiting Additional Info</span> {% elif application.is_pending == False and application.is_approved == True %}
                                        <span class="badge badge-success text-wrap">Approved</span> {% elif application.is_pending == False and application.is_rejected == True %}
                                        <span class="badge badge-danger text-wrap">Rejected</span> {% endif%}
                                        <td>{{application.total_cost}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>
        </div>

        <!-- FOOTER -->
        <footer class="container">
            <p class="float-right"><a href="#">Back to top</a></p>
            <p>&copy; 2017-2019 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </footer>
    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>